<div class="toolbar">
	<h1 id="pageTitle">
		SpecRunner
	</h1>
</div>

<%@color = @code == 0 ? "#00ff00" : "#ff0000"%>

<ul id="specrunner" title="SpecRunner" selected="true">
	<% if @msg %><li style="color:<%=@color%>" align="center"><%=@msg%></li><% end %>
    <li style="color:<%=@color%>">Total: <%=@count%></li>
    <li style="color:<%=@color%>">Passed: <%=@count - @exc_count%></li>
    <li style="color:<%=@color%>">Failed: <%=@exc_count%></li>
</ul>