<html>
<head>
	<link href="/RhoSugarCRM/css/base.css" type="text/css" rel="stylesheet"/>		
		
	<% if System::get_property('platform') == 'APPLE' %>
	  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<style type="text/css" media="screen">@import "/shared/js/iui/iui.css"; @import "/shared/css/rho.css";</style>
		<link href="/RhoSugarCRM/css/iphone.css" type="text/css" rel="stylesheet"/>
		
		<script src="/shared/js/jquery-1.2.6.min.js"></script>
	
		<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=aFhmQOzV34FaMlrzhSFVxYpBojI29ArEPZ0oRloa6yEzZOvBgijJhI6gCfudbw--">
		</script>
		
		<script type="text/javascript">
			var my_current_lat = -1;
			var my_current_lon = -1;
			var map_poi = null;
			var map_poi_text;
		
			function getMyGeoLocation() {
				$.get("/system/geolocation",function(data){
					  data = data.split(";");
					  my_current_lat = data[1];
					  my_current_lon = data[2];	
				
						generate_mapview();
				});
			}
		
			function generate_mapview() {

				// Create a map object
				var map = new YMap(document.getElementById('map'));

				// Add map type control
				map.addTypeControl();

				// Add panning control
				map.addPanControl();

				// Add Slider Zoom Control
				map.addZoomLong();

				// Set map type to either of: YAHOO_MAP_SAT, YAHOO_MAP_HYB, YAHOO_MAP_REG
				map.setMapType(YAHOO_MAP_REG);

				// Display the map centered on a geocoded location
				var mypos = new YGeoPoint(my_current_lat, my_current_lon);
				var myposmarker = new YMarker(mypos);
				myposmarker.openSmartWindow('<div><b>You</b></div>');				
		    map.addOverlay(myposmarker);

		    // now show addresses and geocode on map with labels		
				<% if @show_addresses %>				
						<% @contacts.each do |contact| %>
						  <% if has_valid_mapping_address(contact.primary_address_street, contact.primary_address_city, contact.primary_address_state, contact.primary_address_postalcode) %>   
						
              	<% full_address = format_address_for_mapping(contact.primary_address_street, contact.primary_address_city, contact.primary_address_state, contact.primary_address_postalcode, false) %>
                <% contact_full_name = contact.first_name + " " + contact.last_name %>

					      map_poi = new YMarker("<%= full_address %>");				
								map_poi_text = new String("<div><b>" + "<%= contact_full_name %>" + "</b></div>");
								map_poi.openSmartWindow(map_poi_text);
					      map.addOverlay(map_poi);

						    <% if @zoom_on_last_contact %>
								  // center around our contact's address
									map.drawZoomAndCenter("<%= full_address %>", 4);
							  <% end %>
								
							<% end %>
						<% end %>
				
				<% end %>
	
	    <% if !@zoom_on_last_contact %>
			  // center around our position
				map.drawZoomAndCenter(mypos, 4);
	    <% end %>
	
		}	
		</script>
		
		<style type="text/css">
		#map{
		  height: 300px;
		  width: 280px;
			margin: 8px auto;
		}
		
		#coordinates {
			margin: 10px;
			font-size: 75%;
			text-align: center;
		}
		</style> 
		
<% else %>

	<% if System::get_property('platform') == 'Blackberry' %>
		<link href="/RhoSugarCRM/css/blackberry.css" type="text/css" rel="stylesheet"/>	
	<% else %>	
		<link href="/RhoSugarCRM/css/xhtml.css" type="text/css" rel="stylesheet"/>	
	<% end %>

	<script type="text/javascript">
		var my_url_name = "";
      
		function ws_results(obj) {
			my_url_name = obj.ResultSet.Result;
			generate_mapview();
		}

		function generate_mapview() {
		   var image_item = document.getElementById("map");
		   if (my_url_name != "") {
		     image_item.src = my_url_name;
		   }
		}
	</script>

<% end %>

</head>

<% if System::get_property('platform') == 'APPLE' %>
	<body onload="getMyGeoLocation()">
<% else %>
	<body>	
<% end %>	
	
<div class="toolbar">
	<h1 id="pageTitle">
		GPS Map
	</h1>
</div>

<div id="content_container" selected="true">	
	<% if System::get_property('platform') == 'APPLE' %>
	 <div id="map"></div>	
	
	<% else %>
		<img id="map" src="" height="250" width="250" alt="map image loading..."/>	
       
	  <!-- do a JSON load which triggers the ws_results function call -->
		<% if @show_addresses %>
            <% encoded_address = !@contacts[0].nil? ? format_address_for_mapping(@contacts[0].primary_address_street, @contacts[0].primary_address_city, @contacts[0].primary_address_state, @contacts[0].primary_address_postalcode, true) : "" %>
	  	<% else %>
	  		<% encoded_address = format_latlon_for_mapping(GeoLocation.latitude.to_s, GeoLocation.longitude.to_s)%>  
	  	<% end %>
	  			  		
		<% full_url = "http://local.yahooapis.com/MapsService/V1/mapImage?appid=YD-4g6HBf0_JX0yq2IsdnV1Ne9JTpKxQ3Miew--&output=json&callback=ws_results&image_height=250&image_width=250" + "#{encoded_address}" %>
		
		<script type="text/javascript" src="<%= full_url %>" ></script>

  <% end %>

<div id="coordinates">
	Your GPS position<br>
	Latitude: <%= GeoLocation.latitude.to_s %><br/>
	Longitude: <%= GeoLocation.longitude.to_s %><br/>
</div>


</div>

</body>
</html>
