<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Edit Employee
</div>
<% end %>

<form title="Edit Employee" 
	  class="panel" 
	  id="SugarEmployee_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarEmployee.object%>"/>
		
		
	  <div class="row">
		  <label>Status</label>
		  <input type="text" name="SugarEmployee[employee_status]" value="<%=@SugarEmployee.employee_status%>"/>
	  </div>
	
		  <div class="row">
			  <label>First Name</label>
			  <input type="text" name="SugarEmployee[first_name]" value="<%=@SugarEmployee.first_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Last Name</label>
			  <input type="text" name="SugarEmployee[last_name]" value="<%=@SugarEmployee.last_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Title</label>
			  <input type="text" name="SugarEmployee[title]" value="<%=@SugarEmployee.title%>"/>
		  </div>
		
		  <div class="row">
			  <label>Department</label>
			  <input type="text" name="SugarEmployee[department]" value="<%=@SugarEmployee.department%>"/>
		  </div>
		
		  <div class="row">
			  <label>Reports to</label>
			  <input type="text" name="SugarEmployee[reports_to_name]" value="<%=@SugarEmployee.reports_to_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>IM Type</label>
			  <input type="text" name="SugarEmployee[messenger_type]" value="<%=@SugarEmployee.messenger_type%>"/>
		  </div>
		
		  <div class="row">
			  <label>IM Name</label>
			  <input type="text" name="SugarEmployee[messenger_id]" value="<%=@SugarEmployee.messenger_id%>"/>
		  </div>
		
		</fieldset>

		<fieldset>

	  <div class="row">
		  <label>Office phone</label>
		  <input type="text" name="SugarEmployee[phone_work]" value="<%=@SugarEmployee.phone_work%>"/>
	  </div>
	

		  <div class="row">
			  <label>Mobile</label>
			  <input type="text" name="SugarEmployee[phone_mobile]" value="<%=@SugarEmployee.phone_mobile%>"/>
		  </div>

		  <div class="row">
			  <label>Other</label>
			  <input type="text" name="SugarEmployee[phone_other]" value="<%=@SugarEmployee.phone_other%>"/>
		  </div>
		
		  <div class="row">
			  <label>Fax</label>
			  <input type="text" name="SugarEmployee[phone_fax]" value="<%=@SugarEmployee.phone_fax%>"/>
		  </div>
		
		  <div class="row">
			  <label>Home phone</label>
			  <input type="text" name="SugarEmployee[phone_home]" value="<%=@SugarEmployee.phone_home%>"/>
		  </div>		
			</fieldset>
			
			<h2>Address</h2>
					<fieldset>
				
		  <div class="row">
			  <label>Street</label>
			  <input type="text" name="SugarEmployee[address_street]" value="<%=@SugarEmployee.address_street%>"/>
		  </div>
		
		  <div class="row">
			  <label>City</label>
			  <input type="text" name="SugarEmployee[address_city]" value="<%=@SugarEmployee.address_city%>"/>
		  </div>
		
		  <div class="row">
			  <label>State</label>
			  <input type="text" name="SugarEmployee[address_state]" value="<%=@SugarEmployee.address_state%>"/>
		  </div>
		
		  <div class="row">
			  <label>Country</label>
			  <input type="text" name="SugarEmployee[address_country]" value="<%=@SugarEmployee.address_country%>"/>
		  </div>
		
		  <div class="row">
			  <label>Postal code</label>
			  <input type="text" name="SugarEmployee[address_postalcode]" value="<%=@SugarEmployee.address_postalcode%>"/>
		  </div>

			</fieldset>
			
			<fieldset>
		  <div class="row">
			  <label>Notes</label>
			  <input type="text" name="SugarEmployee[description]" value="<%=@SugarEmployee.description%>"/>
		  </div>
					
		  <div class="row">
			  <label>Email</label>
			  <input type="text" name="SugarEmployee[email1]" value="<%=@SugarEmployee.email1%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @SugarEmployee.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>