<form title="Edit Account" 
	  class="panel" 
	  id="SugarAccount_edit_form" 
	  method="POST" 
	  action="<%=url_for('update')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarAccount.object%>"/>
		
		  <div class="row">
			  <label>Name</label>
			  <input type="text" name="SugarAccount[name]" value="<%=@SugarAccount.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Industry</label>
			  <input type="text" name="SugarAccount[industry]" value="<%=@SugarAccount.industry%>"/>
		  </div>
		
		  <div class="row">
			  <label>Description</label>
			  <input type="text" name="SugarAccount[description]" value="<%=@SugarAccount.description%>"/>
		  </div>
		
		  <div class="row">
			  <label>Type</label>
			  <input type="text" name="SugarAccount[account_type]" value="<%=@SugarAccount.account_type%>"/>
		  </div>
		
		  <div class="row">
			  <label>Annual revenue</label>
			  <input type="text" name="SugarAccount[annual_revenue]" value="<%=@SugarAccount.annual_revenue%>"/>
		  </div>
		
		  <div class="row">
			  <label>Fax</label>
			  <input type="text" name="SugarAccount[phone_fax]" value="<%=@SugarAccount.phone_fax%>"/>
		  </div>
		
		  <div class="row">
			  <label>Billing Address Street</label>
			  <input type="text" name="SugarAccount[billing_address_street]" value="<%=@SugarAccount.billing_address_street%>"/>
		  </div>
		
		  <div class="row">
			  <label>Billing Address City</label>
			  <input type="text" name="SugarAccount[billing_address_city]" value="<%=@SugarAccount.billing_address_city%>"/>
		  </div>
		
		  <div class="row">
			  <label>billing_address_state: </label>
			  <input type="text" name="SugarAccount[billing_address_state]" value="<%=@SugarAccount.billing_address_state%>"/>
		  </div>
		
		  <div class="row">
			  <label>billing_address_postalcode: </label>
			  <input type="text" name="SugarAccount[billing_address_postalcode]" value="<%=@SugarAccount.billing_address_postalcode%>"/>
		  </div>
		
		  <div class="row">
			  <label>billing_address_country: </label>
			  <input type="text" name="SugarAccount[billing_address_country]" value="<%=@SugarAccount.billing_address_country%>"/>
		  </div>
		
		  <div class="row">
			  <label>rating: </label>
			  <input type="text" name="SugarAccount[rating]" value="<%=@SugarAccount.rating%>"/>
		  </div>
		
		  <div class="row">
			  <label>website: </label>
			  <input type="text" name="SugarAccount[website]" value="<%=@SugarAccount.website%>"/>
		  </div>
		
		  <div class="row">
			  <label>phone_office: </label>
			  <input type="text" name="SugarAccount[phone_office]" value="<%=@SugarAccount.phone_office%>"/>
		  </div>
		
		  <div class="row">
			  <label>email1: </label>
			  <input type="text" name="SugarAccount[email1]" value="<%=@SugarAccount.email1%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for('delete', @SugarAccount.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>