<ul id="SugarAccounts" title="Accounts">
<% @SugarAccounts.each do |x| %>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarAccount/#{x.object}/show" %>">
		<%= x.name %>
		<div>
		<%= x.billing_address_city %>&nbsp;<%= x.phone_office %>
		</div>
	</a>
</li>

<% end %>
<li><font color="blue"><%=link_to "New Account", "new"%></font></li>
</ul>