<div data-role="page">
  <div data-role="header">
    <h1>SpecRunner</h1>
    <a href="#" data-rel="back" data-icon="back">Back</a>
  </div>
  <%@color = @code == 0 ? "#00ff00" : "#ff0000"%>
  <div data-role="content">
    <ul data-role="listview">
        <% if @msg %><li style="color:<%=@color%>" align="center"><%=@msg%></li><% end %>
        <li style="color:<%=@color%>">Total: <%=@count%></li>
        <li style="color:<%=@color%>">Passed: <%=@count - @exc_count%></li>
        <li style="color:<%=@color%>">Failed: <%=@exc_count%></li>
    </ul>
  </div>
</div>
