<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>SimpleOnlyStaticModule Extension Test</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
    <ul data-role="listview">
<br>        
<%= link_to 'run calcSumm() test', { :action => :run_calc_test }%><br>
<%= link_to 'run calcSumm() async test', { :action => :run_calc_async_test }%><br>
<br>
<%= link_to 'run joinStrings() test', { :action => :run_join_strings_test }%><br>
<%= link_to 'run joinStrings() async test', { :action => :run_join_strings_async_test }%><br>
<br>
<%= link_to 'run getPlatform() test', { :action => :run_get_platform_test }%><br>
<br>
<%= link_to 'run showAlertFromUIThread test', { :action => :run_start_test }%><br>
<br>
<%= link_to 'run Ruby lambda test (see log)', { :action => :run_lambda_test }%><br>
<br>



    </ul>
  </div>

</div>

