<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Edit Contact
</div>
<% end %>

<form title="Edit Contact" 
	  class="panel" 
	  id="SugarContact_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarContact.object%>"/>
		
		<div class="row">
		  <label>Salutation</label>
		  <input type="text" name="SugarContact[salutation]" value="<%=@SugarContact.salutation%>"/>
	  </div>
	
		<div class="row">
		  <label>First Name</label>
		  <input type="text" name="SugarContact[first_name]" value="<%=@SugarContact.first_name%>"/>
	  </div>
	
	  <div class="row">
		  <label>Last Name</label>
		  <input type="text" name="SugarContact[last_name]" value="<%=@SugarContact.last_name%>"/>
	  </div>
	
		 <div class="row">
			  <label>Account </label>			
				<select id="SugarAccount_account_id" name="SugarContact[account_id]">
					<option value="">-- none --</option>
					<% SugarAccount.find(:all).each do |account| %>
						<% selected = (@SugarContact.account_id == strip_braces(account.object)) ? "selected=\"#{strip_braces(account.object)}\"" : "" %>
						<option value="<%= strip_braces(account.object) %>" <%= selected %>><%= account.name %></option>
					<% end %>
				</select>
		  </div>
		
	  <div class="row">
		  <label>Lead Source</label>	
			<select id="SugarContact_lead_source]" name="SugarContact[lead_source]">
				<option value="" label=""/>
				<% %w(Cold\ Call Existing\ Customer Self\ Generated Employee Partner Public\ Relations Direct\ Mail Trade\ Show Web\ Site Word\ of\ mouth Email  Campaign Other).each do |choice| %>
					<option <% if choice == @SugarContact.lead_source %>selected="selected"<% end %>><%= choice %></option>
				<% end %>
			</select>
	  </div>
	
	  <div class="tallrow">
		  <label>Campaign</label>		
			<select id="SugarContact_campaign_id" name="SugarContact[campaign_id]">
				<option value="">-- none --</option>
				<% SugarCampaign.find(:all).each do |campaign| %>
					<% selected = (@SugarContact.campaign_id == strip_braces(campaign.object)) ? "selected=\"#{strip_braces(campaign.object)}\"" : "" %>
					<option value="<%= strip_braces(campaign.object) %>" <%= selected %>><%= campaign.name %></option>
				<% end %>
			</select>
			<div class="clearer"></div>
	  </div>
		
	  <div class="row">
		  <label>Title</label>
		  <input type="text" name="SugarContact[title]" value="<%=@SugarContact.title%>"/>
	  </div>
	
	  <div class="row">
		  <label>Department</label>
		  <input type="text" name="SugarContact[department]" value="<%=@SugarContact.department%>"/>
	  </div> 
	
	  <div class="row">
		  <label>Reports To</label>		
			<select id="SugarContact_reports_to_id" name="SugarContact[reports_to_id]">
				<option value="">-- none --</option>
				<% SugarContact.find(:all).each do |contact| %>
					<% selected = (@SugarContact.reports_to_id == strip_braces(contact.object)) ? "selected=\"#{strip_braces(contact.object)}\"" : "" %>
					<option value="<%= strip_braces(contact.object) %>" <%= selected %>><%= "#{contact.first_name} #{contact.last_name}" %></option>
				<% end %>
			</select>
	  </div>

	  <div class="row">
		  <label>Do Not Call</label>
		  <input type="checkbox" name="SugarContact[do_not_call]" value="<%=@SugarContact.do_not_call%>"/>
	  </div>
	
	  <div class="row">
		  <label>Team</label>
			<select id="SugarContact_team_id" name="SugarContact[team_id]">
				<option value="">-- none --</option>
				<% SugarTeam.find(:all).each do |team| %>
					<% selected = (@SugarContact.team_id == strip_braces(team.object)) ? "selected=\"#{strip_braces(team.object)}\"" : "" %>
					<option value="<%= strip_braces(team.object) %>" <%= selected %>><%= team.name %></option>
				<% end %>
			</select>
	  </div>
	
		<div class="row">
		  <label>Assigned to</label>
			<select id="SugarContact_assigned_user_id" name="SugarContact[assigned_user_id]">
				<option value="">-- none --</option>
				<% SugarUser.find(:all).each do |user| %>
					<% selected = (@SugarContact.assigned_user_id == strip_braces(user.object)) ? "selected=\"#{strip_braces(user.object)}\"" : "" %>
					<option value="<%= strip_braces(user.object) %>" <%= selected %>><%= user.user_name %></option>
				<% end %>
			</select>
	  </div>
	
	</fieldset>
	
	<fieldset>
		  <div class="row">
			  <label>Office phone</label>
			  <input type="text" name="SugarContact[phone_work]" value="<%=@SugarContact.phone_work%>"/>
		  </div>

		  <div class="row">
			  <label>Mobile</label>
			  <input type="text" name="SugarContact[phone_mobile]" value="<%=@SugarContact.phone_mobile%>"/>
		  </div>

		  <div class="row">
			  <label>Home</label>
			  <input type="text" name="SugarContact[phone_home]" value="<%=@SugarContact.phone_home%>"/>
		  </div>

		  <div class="row">
			  <label>Other phone</label>
			  <input type="text" name="SugarContact[phone_other]" value="<%=@SugarContact.phone_other%>"/>
		  </div>

		  <div class="row">
			  <label>Fax</label>
			  <input type="text" name="SugarContact[phone_fax]" value="<%=@SugarContact.phone_fax%>"/>
		  </div>

		  <div class="row">
			  <label>Birthdate</label>
			  <input type="text" name="SugarContact[birthdate]" value="<%=@SugarContact.birthdate%>"/>
		  </div>

		  <div class="row">
			  <label>Assistant</label>
			  <input type="text" name="SugarContact[assistant]" value="<%=@SugarContact.assistant%>"/>
		  </div>

		  <div class="row">
			  <label>Assistant Phone</label>
			  <input type="text" name="SugarContact[assistant_phone]" value="<%=@SugarContact.assistant_phone%>"/>
		  </div>
	</fieldset>
	
		<fieldset>

		  <div class="row">
			  <label>Email #1</label>
			  <input type="text" name="SugarContact[email1]" value="<%=@SugarContact.email1%>"/>
		  </div>

		  <div class="row">
			  <label>Email #2</label>
			  <input type="text" name="SugarContact[email2]" value="<%=@SugarContact.email2%>"/>
		  </div>
			

			</fieldset>
	
			
		<h2>Primary Address</h2>	
		<fieldset>
		  <div class="row">
			  <label>Street</label>
			  <input type="text" name="SugarContact[primary_address_street]" value="<%=@SugarContact.primary_address_street%>"/>
		  </div>
		
		  <div class="row">
			  <label>City</label>
			  <input type="text" name="SugarContact[primary_address_city]" value="<%=@SugarContact.primary_address_city%>"/>
		  </div>
		
		  <div class="row">
			  <label>State</label>
			  <input type="text" name="SugarContact[primary_address_state]" value="<%=@SugarContact.primary_address_state%>"/>
		  </div>
		
		  <div class="row">
			  <label>Postal code</label>
			  <input type="text" name="SugarContact[primary_address_postalcode]" value="<%=@SugarContact.primary_address_postalcode%>"/>
		  </div>
		
		  <div class="row">
			  <label>Country</label>
			  <input type="text" name="SugarContact[primary_address_country]" value="<%=@SugarContact.primary_address_country%>"/>
		  </div>
		</fieldset>
		
	
		<h2>Other Address</h2>
		<fieldset>
	  <div class="row">
		  <label>Street</label>
		  <input type="text" name="SugarContact[alt_address_street]" value="<%=@SugarContact.alt_address_street%>"/>
	  </div>
	
	  <div class="row">
		  <label>City</label>
		  <input type="text" name="SugarContact[alt_address_city]" value="<%=@SugarContact.alt_address_city%>"/>
	  </div>
	
	  <div class="row">
		  <label>State</label>
		  <input type="text" name="SugarContact[alt_address_state]" value="<%=@SugarContact.alt_address_state%>"/>
	  </div>
	
	  <div class="row">
		  <label>Postal code</label>
		  <input type="text" name="SugarContact[alt_address_postalcode]" value="<%=@SugarContact.alt_address_postalcode%>"/>
	  </div>
	
	  <div class="row">
		  <label>Country</label>
		  <input type="text" name="SugarContact[alt_address_country]" value="<%=@SugarContact.alt_address_country%>"/>
	  </div>
	</fieldset>
	
	<fieldset>
  <div class="tallrow" style="height:auto">
	  <label>Description</label>
	  <textarea name="SugarContact[description]" rows="5" style="margin:6px;width:90%"><%= @SugarContact.description %></textarea>
		<div class="clearer"></div>
  </div>
	</fieldset>

	<input type="submit" value="Update"/>
</form>