<ul id="<%= name %>" title="Show <%= class_name %>">
  <% attributes.each do |attribute| %>
    <li><%%=@<%=name%>.<%=attribute%>%></li>
  <% end %>
  <li><%%=link_to "Edit #{@<%=name%>.<%=attributes[0]%>}", :action => :edit, :id => @<%=name%>.object%></li>
</ul>