<form title="Edit Account" 
	  class="panel" 
	  id="account_edit_form" 
	  method="POST" 
	  action="<%=url_for('update')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@account.object%>"/>
		<div class="row">
			<label>Name: </label>
			<input type="text" name="account[name]" value="<%=@account.name%>"/>
		</div>
		<div class="row">
			<label>Industry: </label>
			<select name="account[industry]">
				<%@industries.each do |i|%>
					<option value=<%=i%>
					<%if @account.industry==i%>
					selected<%end%>><%=i%>
					</option>
				<%end%>
			</select>
		</div>
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for('delete', @account.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>