<div class="toolbar">
	<h1 id="pageTitle">
		Quotes
	</h1>
</div>

<ul id="SugarQuotes" title="Quotes" selected="true">
	<a class="button right_button" href="/RhoSugarCRM/SugarQuote/new" target="_self">New</a>
	
	<%@SugarQuotes.each do |x|%>

		<li class="overview">
			<a href="<%= "/RhoSugarCRM/SugarQuote/#{x.object}/show" %>" target="_self">
				<%= x.name %>
				<div>
<%= display_dollars(x.total) %><%= both_items_present?(x.total, x.quote_stage) ? "<span class='separator'>&nbsp;|&nbsp;</span>" : "" %><%= x.quote_stage %>
				</div>
			</a>
		</li>
		
	<% end %>
</ul>

