<div class="toolbar">
	<h1 id="pageTitle">
		Edit Meeting
	</h1>
</div>

<form title="Edit Meeting" 
	  class="panel" 
	  id="SugarMeeting_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarMeeting.object%>"/>
		
		  <div class="row">
			  <label>Name</label>
			  <input type="text" name="SugarMeeting[name]" value="<%=@SugarMeeting.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Date Entered</label>
			  <input type="text" name="SugarMeeting[date_entered]" value="<%=@SugarMeeting.date_entered%>"/>
		  </div>
		
		  <div class="row">
			  <label>Date Modified</label>
			  <input type="text" name="SugarMeeting[date_modified]" value="<%=@SugarMeeting.date_modified%>"/>
		  </div>
		
		  <div class="row">
			  <label>Modified By</label>
			  <input type="text" name="SugarMeeting[modified_by_name]" value="<%=@SugarMeeting.modified_by_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Created By</label>
			  <input type="text" name="SugarMeeting[created_by_name]" value="<%=@SugarMeeting.created_by_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Description</label>
			  <input type="text" name="SugarMeeting[description]" value="<%=@SugarMeeting.description%>"/>
		  </div>
		
		  <div class="row">
			  <label>Assigned To</label>
			  <input type="text" name="SugarMeeting[assigned_user_name]" value="<%=@SugarMeeting.assigned_user_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Location</label>
			  <input type="text" name="SugarMeeting[location]" value="<%=@SugarMeeting.location%>"/>
		  </div>
		
		  <div class="row">
			  <label>Duration Hours</label>
			  <input type="text" name="SugarMeeting[duration_hours]" value="<%=@SugarMeeting.duration_hours%>"/>
		  </div>
		
		  <div class="row">
			  <label>Duration Min</label>
			  <input type="text" name="SugarMeeting[duration_minutes]" value="<%=@SugarMeeting.duration_minutes%>"/>
		  </div>
		
		  <div class="row">
			  <label>Date Start</label>
			  <input type="text" name="SugarMeeting[date_start]" value="<%=@SugarMeeting.date_start%>"/>
		  </div>
		
		  <div class="row">
			  <label>Date End</label>
			  <input type="text" name="SugarMeeting[date_end]" value="<%=@SugarMeeting.date_end%>"/>
		  </div>
		
		  <div class="row">
			  <label>Status</label>
			  <input type="text" name="SugarMeeting[status]" value="<%=@SugarMeeting.status%>"/>
		  </div>
		
		  <div class="row">
			  <label>Reminder Time</label>
			  <input type="text" name="SugarMeeting[reminder_time]" value="<%=@SugarMeeting.reminder_time%>"/>
		  </div>
		
		  <div class="row">
			  <label>Contact Name</label>
			  <input type="text" name="SugarMeeting[contact_name]" value="<%=@SugarMeeting.contact_name%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>	
</form>