<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Edit Product
</div>
<% end %>

<form title="Edit Product" 
	  class="panel" 
	  id="SugarProduct_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarProduct.object%>"/>
		
		  <div class="row">
			  <label>name: </label>
			  <input type="text" name="SugarProduct[name]" value="<%=@SugarProduct.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>date_entered: </label>
			  <input type="text" name="SugarProduct[date_entered]" value="<%=@SugarProduct.date_entered%>"/>
		  </div>
		
		  <div class="row">
			  <label>date_modified: </label>
			  <input type="text" name="SugarProduct[date_modified]" value="<%=@SugarProduct.date_modified%>"/>
		  </div>
		
		  <div class="row">
			  <label>description: </label>
			  <input type="text" name="SugarProduct[description]" value="<%=@SugarProduct.description%>"/>
		  </div>
		
		  <div class="row">
			  <label>team_name: </label>
			  <input type="text" name="SugarProduct[team_name]" value="<%=@SugarProduct.team_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>list_price: </label>
			  <input type="text" name="SugarProduct[list_price]" value="<%=@SugarProduct.list_price%>"/>
		  </div>
		
		  <div class="row">
			  <label>cost_price: </label>
			  <input type="text" name="SugarProduct[cost_price]" value="<%=@SugarProduct.cost_price%>"/>
		  </div>
		
		  <div class="row">
			  <label>discount_price: </label>
			  <input type="text" name="SugarProduct[discount_price]" value="<%=@SugarProduct.discount_price%>"/>
		  </div>
		
		  <div class="row">
			  <label>status: </label>
			  <input type="text" name="SugarProduct[status]" value="<%=@SugarProduct.status%>"/>
		  </div>
		
		  <div class="row">
			  <label>website: </label>
			  <input type="text" name="SugarProduct[website]" value="<%=@SugarProduct.website%>"/>
		  </div>
		
		  <div class="row">
			  <label>account_name: </label>
			  <input type="text" name="SugarProduct[account_name]" value="<%=@SugarProduct.account_name%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @SugarProduct.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>