<form title="Edit Ticket" 
	  class="panel" 
	  id="ticket_edit_form" 
	  method="POST" 
	  action="<%=url_for('update')%>">
	
		<h1 style="margin:0px"><%= @ticket.title %></h1>

		<p>#<%= @ticket.number %> <%= Project.find(@ticket.project_id).name %></p>
		<p><b>Reported by:</b> <%= User.find(@ticket.creator_id).name %> | <%= @ticket.created_at %></p>
		
	<fieldset>
		<input type="hidden" name="id" value="<%=@ticket.object%>"/>
		
		  <div class="row">
			  <label>Status:</label>
			
				<select id="ticket_state" name="ticket[state]">
					<option>new</option>
					<option>open</option>
					<option>resolved</option>
					<option>hold</option>
					<option>invalid</option>
				</select>
		  </div>
		
		  <div class="row">
			  <label>body: </label>
			  <input type="text" name="ticket[body]" value="<%=@ticket.body%>"/>
		  </div>
		
		  <div class="row">
			  <label>tag: </label>
			  <input type="text" name="ticket[tag]" value="<%=@ticket.tag%>"/>
		  </div>
				
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for('delete', @ticket.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>

	
</form>