<ul id="tickets" title="<%= @title %>">	
<% if @tickets && @tickets.length > 0 %>
	<% @tickets.each do |ticket| %>
		<% if project = Project.find(ticket.project_id) %>
			<li class="ticket_details">
				<div><%= strike_if(link_to("<span class=\"name\">\"#{ticket.title}\"</span>", "edit", ticket.object), resolved?(ticket)) %></div>
				<%= strike_if("##{display_blanks(ticket.number)}", resolved?(ticket)) %> / <%= project.name %> / <span class="<%= display_blanks(ticket.state) %>"><%= ticket.state %></span>
			</li>
		<% end %>
	<% end %>
<% else %>
	<li>None found</li>
<% end %>

<% if @project %>
<li><font color="blue"><%= link_to "Add New Ticket", "new", @project.object %></font></li>
<% end %>
</ul>
