<form title="New Ticket" 
	  class="panel"
	  id="ticket_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@ticket.object%>"/>
		
		  <div class="row">
			  <label>Title:</label>
			  <input type="text" name="ticket[title]"/>
		  </div>
		
			<input type="hidden" id="ticket_project_id" name="ticket[project_id]" value="<%=@ticket.project_id%>"/>
			<input type="hidden" id="ticket_created_at" name="ticket[created_at]" value="<%=@ticket.created_at%>"/>
			<!-- must provide blank values for all fields; temporary RHOM limitation -->
			<input type="hidden" id="ticket_closed" name="ticket[closed]" value=""/>
			<input type="hidden" id="ticket_creator_id" name="ticket[creator_id]" value=""/>
			<input type="hidden" id="ticket_number" name="ticket[number]" value=""/>
			<input type="hidden" id="ticket_priority" name="ticket[priority]" value=""/>
			<input type="hidden" id="ticket_state" name="ticket[state]" value=""/>
			<input type="hidden" id="ticket_updated_at" name="ticket[updated_at]" value=""/>
			<input type="hidden" id="ticket_user_id" name="ticket[user_id]" value=""/>			

		  <div class="tallrow" style="height:auto">
			  <label>Describe the problem</label>
			  <textarea name="ticket[body]" rows="5" style="margin:6px;width:90%"></textarea>
				<div class="clearer"></div>
		  </div>
		
			<div class="tallrow"><label>Who's responsible?</label>
				<select id="ticket_assigned_user_id" name="ticket[assigned_user_id]">
					<option value="">-- none --</option>
					<% User.find(:all).each do |user| %>
						<% selected = (@ticket.assigned_user_id == strip_braces(user.object)) ? "selected=\"#{strip_braces(user.object)}\"" : "" %>
						<option value="<%= strip_braces(user.object) %>" <%= selected %>><%= user.name %></option>
					<% end %>
				</select>
				<div class="clearer"></div>
		  </div>
		
			<div class="row"><label>Milestone</label>
				<select id="ticket_milestone_id" name="ticket[milestone_id]">
					<option value="">-- none --</option>
					<% Milestone.find(:all).each do |milestone| %>
						<% if milestone.project_id == @ticket.project_id %>
							<% selected = (@ticket.milestone_id == strip_braces(milestone.object)) ? "selected=\"#{strip_braces(milestone.object)}\"" : "" %>
							<option value="<%= strip_braces(milestone.object) %>" <%= selected %>><%= milestone.title %></option>
						<% end %>
					<% end %>
				</select>
		  </div>
		
		  <div class="row">
			  <label>Tags:</label>
			  <input type="text" name="ticket[tag]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>