<div class="toolbar">
	<h1 id="pageTitle">
		New <%= class_name %>
	</h1>
</div>

<form title="New <%= class_name %>" 
	  class="panel"
	  id="<%= name.downcase %>_new_form" 
	  method="POST" 
	  action="<%%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%%=@<%= name.downcase %>.object%>"/>
		<% attributes.each do |attribute| %>
		  <div class="row">
			  <label><%=humanize(attribute)%>: </label>
			  <input type="text" name="<%= name.downcase %>[<%= attribute %>]"/>
		  </div>
		<% end %>
	</fieldset>
	<input type="submit" value="Create"/>
</form>