<ul id="<%= name.downcase %>" title="Show <%= class_name %>">
  <% attributes.each do |attribute| %>
    <li><%%=@<%=name.downcase%>.<%=attribute%>%></li>
  <% end %>
  <li><%%=link_to "Edit #{@<%=name.downcase%>.<%=attributes[0]%>}", :action => :edit, :id => @<%=name.downcase%>.object%></li>
</ul>