<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Edit Case
</div>
<% end %>

<form title="Edit Case" 
	  class="panel" 
	  id="SugarCase_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarCase.object%>"/>
		
		<div class="row">
		  <label>Case Number</label>
		  <input type="text" name="SugarCase[case_number]" value="<%=@SugarCase.case_number%>"/>
	  </div>
		
		<div class="row">
		  <label>Priority</label>
		  <input type="text" name="SugarCase[priority]" value="<%=@SugarCase.priority%>"/>
	  </div>
	  
	  <div class="row">
		  <label>Status</label>
		  <input type="text" name="SugarCase[status]" value="<%=@SugarCase.status%>"/>
	  </div>
	
	  <div class="row">
		  <label>Type</label>
		  <input type="text" name="SugarCase[type]" value="<%=@SugarCase.type%>"/>
	  </div>
		</fieldset>
			
			<fieldset>
	
		  <div class="row">
			  <label>Subject</label>
			  <input type="text" name="SugarCase[name]" value="<%=@SugarCase.name%>"/>
		  </div>
		
				  <div class="row">
					  <label>Description</label>
					  <input type="text" name="SugarCase[description]" value="<%=@SugarCase.description%>"/>
				  </div>
		
		
				  <div class="row">
					  <label>Resolution</label>
					  <input type="text" name="SugarCase[resolution]" value="<%=@SugarCase.resolution%>"/>
				  </div>
				
				</fieldset>
				
				<fieldset>
				
			  <div class="row">
				  <label>Assigned to</label>
				  <input type="text" name="SugarCase[assigned_user_name]" value="<%=@SugarCase.assigned_user_name%>"/>
			  </div>


			  <div class="row">
				  <label>Account Name</label>
				  <input type="text" name="SugarCase[account_name]" value="<%=@SugarCase.account_name%>"/>
			  </div>
			
				</fieldset>

		<fieldset>		
		  <div class="row">
			  <label>Modified On</label>
			  <input type="text" name="SugarCase[date_modified]" value="<%=@SugarCase.date_modified%>"/>
		  </div>
		
		  <div class="row">
			  <label>Created On</label>
			  <input type="text" name="SugarCase[date_entered]" value="<%=@SugarCase.date_entered%>"/>
		  </div>	
	</fieldset>
	
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @SugarCase.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>