<div class="pageTitle">
  <h1>Edit <%= @model1.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @model1.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @model1.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @model1.object %>"/>
    <ul>
      
          <li>
            <label for="model1[name]" class="fieldLabel">Name</label>
            <input type="text" name="model1[name]" value="<%= @model1.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="model1[address]" class="fieldLabel">Address</label>
            <input type="text" name="model1[address]" value="<%= @model1.address %>" <%= placeholder( "Address" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>