<div class="pageTitle">
  <h1>Edit <%%= @<%= name.downcase %>.<%= attributes[0] %> %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%%= url_for :action => :show, :id => @<%= name.downcase %>.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%%= url_for :action => :delete, :id => @<%= name.downcase %>.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>
    <ul>
      <% attributes.each do |attribute| %>
          <li>
            <label for="<%= name.downcase % class="fieldLabel">[<%= attribute %>]"><%= humanize(attribute) %></label>
            <input type="text" name="<%= name.downcase %>[<%= attribute %>]" value="<%%= @<%= name.downcase %>.<%= attribute %> %>" <%%= placeholder( "<%= humanize(attribute) %>" ) %> />
          </li>
      <% end %>
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>