<div data-role="page">

  <div data-role="header" data-position="inline">
    <%%= link_to "Back", :action => :show, :id => @<%= name.downcase %>.object %>
    <h1>Edit <%%= @<%= name.downcase %>.<%= attributes[0] %>%></h1>
    <%%= link_to "Delete", :action => :delete, :id => @<%= name.downcase %>.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>
      <table>
          <% attributes.each do |attribute| %>
          <tr>
              <td class="itemLabel"><%= humanize(attribute) %>: </td>
              <td class="itemValue"><input type="text" name="<%= name.downcase %>[<%= attribute %>]" value="<%%= @<%= name.downcase %>.<%= attribute %> %>"/></td>
          </tr>
          <% end %>
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
