<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%%=@<%=name.downcase%>.<%=attributes[0]%>%>
	</h1>
</div>

<form title="Edit <%= class_name %>" 
	  class="panel" 
	  id="<%= name.downcase %>_edit_form" 
	  method="POST" 
	  action="<%%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%%=@<%= name.downcase %>.object%>"/>
		<% attributes.each do |attribute| %>
		  <div class="row">
			  <label><%=humanize(attribute)%>: </label>
			  <input type="text" name="<%= name.downcase %>[<%= attribute %>]" value="<%%=@<%=name.downcase%>.<%=attribute%>%>"/>
		  </div>
		<% end %>
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%%=url_for(:action => :delete, :id => @<%= name.downcase %>.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>