<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%%= @<%= name.downcase %>.<%= attributes[0] %> %></h1>
    <a href="<%%= url_for :action => :show, :id => @<%= name.downcase %>.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%%= url_for :action => :delete, :id => @<%= name.downcase %>.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>
      <% attributes.each do |attribute| %>
          <div data-role="fieldcontain">
            <label for="<%= name.downcase %>[<%= attribute %>]" class="fieldLabel"><%= humanize(attribute) %></label>
            <input type="text" id="<%= name.downcase %>[<%= attribute %>]" name="<%= name.downcase %>[<%= attribute %>]" value="<%%= @<%= name.downcase %>.<%= attribute %> %>" <%%= placeholder( "<%= humanize(attribute) %>" ) %> />
          </div>
      <% end %>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
