<div class="border d-flex justify-content-between">
  <a href="<%%= Rho::Application.startURI %>" class="m-1 btn btn-secondary btn-sm">Home</a>

  <h3><%= name.camelize.pluralize %></h3>

  <a href="<%%= url_for :action => :new %>" class="m-1 btn btn-primary btn-sm">New</a>

</div>

<div class="container-fluid p-1">

  <div class="list-group">
    <%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
    <% if self.attributes? %>
      <a
        href="<%%= url_for :action => :show, :id => <%= name.downcase %>.object %>"
        class="list-group-item list-group-item-action d-flex justify-content-between">
        <%%= <%= name.downcase %>.<%= attributes[0] %> %>
        <i data-feather="chevron-right"></i>
      </a>
    <% else %>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
        Some list entry...
        <i data-feather="chevron-right"></i>
      </a>
    <% end %>
    <%% end %>

  </div>

</div>
