<div class="pageTitle">
  <h1><%= name.camelize.pluralize %></h1>
</div>

<div class="toolbar">
  <a class="button" href="<%%= url_for :action => :new %>">New</a>
</div>

<div class="content">
  <ul>
    <%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
    <% if self.attributes? %>
        <li>
          <a href="<%%= url_for :action => :show, :id => <%= name.downcase %>.object %>">
            <%%= <%= name.downcase %>.<%= attributes[0] %> %>
          </a>
        </li>
    <% else %>
        <li>
          <a href="#">Some list entry...</a>
        </li>
    <% end %>
    <%% end %>
  </ul>
</div>