<div class="toolbar">
	<h1 id="pageTitle">
		<%= class_name.camelize.pluralize %>
	</h1>
</div>

<ul id="<%= name.downcase.pluralize %>" title="<%= class_name.pluralize %>" selected="true">
  	<a class="button right_button" href="<%= class_name%>/new" target="_self">New</a>
	<%%@<%=name.downcase.pluralize%>.each do |x|%>
	<%if self.attributes?%>
	<li><%%=link_to "#{x.<%=attributes[0]%>}", :action => :show, :id => x.object%></li>
	<%else%>
	<li>Some list entry...</li>
	<%end%>
	<%%end%>
</ul>