<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1><%= name.camelize.pluralize %></h1>
    <a href="<%%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
      <% if self.attributes? %>
          <li>
            <a href="<%%= url_for :action => :show, :id => <%= name.downcase %>.object %>">
              <%%= <%= name.downcase %>.<%= attributes[0] %> %>
            </a>
          </li>
      <% else %>
          <li>
            <a href="#">Some list entry...</a>
          </li>
      <% end %>
      <%% end %>
    </ul>
  </div>

</div>
