<div class="pageTitle">
  <h1><%= name.camelize.pluralize %></h1>
</div>

<div class="toolbar">
  <!-- TODO: handle home case -->
  <!--<a class="button leftButton blueButton" href="#" onclick="window.location = '<%%= Rho::RhoConfig.start_path %>'; return false;">Home</a>-->
  <a class="button slide" href="<%%= url_for :action => :new %>">New</a>
</div>

<div class="content">
  <ul>
    <%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
    <% if self.attributes? %>
        <li class="arrow">
          <a href="<%%= url_for :action => :show, :id => <%= name.downcase %>.object %>">
            <%%= <%= name.downcase %>.<%= attributes[0] %> %>
          </a>
        </li>
    <% else %>
        <li class="arrow">
          <a href="#">Some list entry...</a>
        </li>
    <% end %>
    <%% end %>
  </ul>
</div>