<div class="pageTitle">
  <h1><%= name.camelize.pluralize %></h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%%= Rho::RhoConfig.start_path %>">Home</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%%= url_for :action => :new %>">New</a>
  </div>
</div>

<div class="content">
  <ul>
    <%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
    <% if self.attributes? %>
        <li>
          <a href="<%%= url_for :action => :show, :id => <%= name.downcase %>.object %>">
            <span class="title"><%%= <%= name.downcase %>.<%= attributes[0] %> %></span><span class="disclosure_indicator"></span>
          </a>
        </li>
    <% else %>
        <li>
          <a href="#"><span class="title">Some list entry...</span><span class="disclosure_indicator"></span></a>
        </li>
    <% end %>
    <%% end %>
  </ul>
</div>