<div id="pageTitle">
	<h1>New <%%=@<%= name.downcase %>.title%></h1>
</div>

<div id="toolbar">
  <div id="row">
      <div id="leftItem" class="backButton"><%%=link_to "Cancel", :action => :index%></div>
  </div>
</div>

<div id="content">
    <form title="New <%= class_name %>"
          id="<%= name.downcase %>_edit_form"
          method="POST"
          action="<%%=url_for(:action => :create)%>">
        <fieldset>
            <input type="hidden" name="id" value="<%%=@<%= name.downcase %>.object%>"/>
            <div class="form_list">
                <ul>
                    <% attributes.each do |attribute| %>
                    <li>
                        <span class="label"><%=humanize(attribute)%></span>
                        <input type="text" name="<%= name.downcase %>[<%= attribute %>]" />
                    </li>
                    <% end %>
                </ul>
            </div>
        </fieldset>

        <button class="updateButton" type="submit">Create</button>
    </form>
</div>