<div id="pageTitle">
	<h1>New <%%=@<%= name.downcase %>.title%></h1>
</div>

<div id="toolbar">
  <div id="row">
      <div id="leftItem" class="backButton"><%%=link_to "Cancel", :action => :index%></div>
  </div>
</div>

<div id="content">
    <form title="New <%= class_name %>"
          id="<%= name.downcase %>_edit_form"
          method="POST"
          action="<%%=url_for(:action => :create)%>">
            <input type="hidden" name="id" value="<%%=@<%= name.downcase %>.object%>"/>
            <ul>
                <% attributes.each do |attribute| %>
                <li>
                    <span class="fieldLabel"><%=humanize(attribute)%></span>
                    <input type="text" name="<%= name.downcase %>[<%= attribute %>]" <%%= placeholder( "<%=humanize(attribute)%>" )%> />
                </li>
                <% end %>
            </ul>
            <button class="standardButton" type="submit">Create</button>
    </form>
</div>