<div class="pageTitle">
  <h1>New <%%= @<%= name.downcase %>.title %></h1>
</div>

<div class="toolbar">
  <a class="cancel" href="<%%= url_for :action => :index %>">Cancel</a>
</div>

<div class="content">
  <form method="POST" action="<%%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>
    <ul>
      <% attributes.each do |attribute| %>
          <li>
            <label for="<%= name.downcase %>[<%= attribute %>]"><%= humanize(attribute) %></label>
            <input type="text" name="<%= name.downcase %>[<%= attribute %>]" <%%= placeholder("<%= humanize(attribute) %>") %> />
          </li>
      <% end %>
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>