<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%%= @<%= name.downcase %>.title %></h1>
    <a href="<%%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>

      <% attributes.each do |attribute| %>
          <div data-role="fieldcontain">
            <label for="<%= name.downcase %>[<%= attribute %>]" class="fieldLabel"><%= humanize(attribute) %></label>
            <input type="text" name="<%= name.downcase %>[<%= attribute %>]" <%%= placeholder("<%= humanize(attribute) %>") %> />
          </div>
      <% end %>

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
