<div class="container-fluid">

  <div class="row page-title">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%%= url_for :action => :index %>" class="btn btn-default btn-sm pull-left">Cancel</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">New <%%= @<%= name.downcase %>.title %></h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <form method="POST" action="<%%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>

    <% attributes.each do |attribute| %>
        <div class="form-group">
          <label for="<%= name.downcase %>[<%= attribute %>]"><%= attribute.humanize() %></label>
          <input type="text" id="<%= name.downcase %>[<%= attribute %>]" name="<%= name.downcase %>[<%= attribute %>]" <%%=
          placeholder("<%= attribute.humanize() %>") %> class="form-control" />
        </div>
    <% end %>

    <button type="submit" class="btn btn-success btn-block">Create</button>
  </form>

</div>