<div id="pageTitle">
    <h1>New <%= class_name.camelize %></h1>
</div>

<div id="toolbar">
    <%%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%%= @<%= name.downcase %>.object %>"/>
        <table>
    		<% attributes.each do |attribute| %>
    		  <tr>
    			  <td width="125"><%= humanize(attribute) %>: </td>
    			  <td><input type="text" name="<%= name.downcase %>[<%= attribute %>]"/></td>
    		  </tr>
    		<% end %>
        </table>
    	<input type="submit" value="Create"/>
    </form>
</div>