<div class="pageTitle">
  <h1><%%= @<%= name.downcase %>.<%= attributes[0] %> %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%%= url_for :action => :edit, :id => @<%= name.downcase %>.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    <% attributes.each do |attribute| %>
        <li>
          <div class="itemLabel"><%= attribute.camelize %></div>
          <div class="itemValue"><%%= @<%= name.downcase %>.<%= attribute %> %></div>
        </li>
    <% end %>
  </ul>
</div>