<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%%= link_to "Back", :action => :index %>
    <h1><%%= @<%= name.downcase %>.<%= attributes[0] %> %></h1>
    <%%= link_to "Edit", :action => :edit, :id => @<%= name.downcase %>.object %>
  </div>

  <div data-role="content">
    <table>
      <% attributes.each do |attribute| %>
      <tr>
    	<td class="itemLabel"><%= attribute.camelize %></td>
        <td class="itemValue"><%%= @<%= name.downcase %>.<%= attribute %>%></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
