<div id="pageTitle">
	<h1><%%= @<%= name.downcase %>.<%= attributes[0] %>%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%%= link_to "Back", :action => :index %></div>
    <div id="rightItem" class="regularButton"><%%= link_to "Edit", :action => :edit, :id => @<%= name.downcase %>.object %></div>
</div>

<div id="content">
    <ul>
        <% attributes.each do |attribute| %>
        <li>
            <div class="itemLabel"><%= attribute.camelize %></div>
            <div class="itemValue"><%%= @<%= name.downcase %>.<%= attribute %>%></div>
        </li>
        <% end %>
    </ul>
</div>