<div class="border d-flex justify-content-between">
  <a href="<%%= url_for :action => :index %>" class="m-1 btn btn-secondary btn-sm">Back</a>

  <h3><%%= @<%= name.downcase %>.<%= attributes[0] %> %></h3>

  <a href="<%%= url_for :action => :edit, :id => @<%= name.downcase %>.object %>" class="m-1 btn btn-primary btn-sm">Edit</a>

</div>

<div class="container-fluid p-1">

  <ul class="list-group">
    <% attributes.each do |attribute| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
            <span><strong><%= attribute.camelize %></strong></span>
          </div>
          <div class="col-6"><%%= @<%= name.downcase %>.<%= attribute %> %></div>
        </div>
      </li>
    <% end %>
  </ul>


</div>
