<div class="pageTitle">
  <h1><%%= @<%= name.downcase %>.<%= attributes[0] %>%></h1>
</div>

<div class="toolbar">
  <a class="back slide" href="<%%= url_for :action => :index %>">Back</a>
  <a class="button slide" href="<%%= url_for :action => :edit, :id => @<%= name.downcase %>.object %>">Edit</a>
</div>

<div class="content">
    <ul>
        <% attributes.each do |attribute| %>
        <li>
            <div class="label"><%= attribute.camelize %></div>
            <div class="value"><%%= @<%= name.downcase %>.<%= attribute %>%></div>
        </li>
        <% end %>
    </ul>
</div>