<div id="pageTitle">
	<h1><%%= @<%= name.downcase %>.<%= attributes[0] %>%></h1>
</div>

<div id="toolbar">
        <%%= link_to "Back", :action => :index %>
        <%%= link_to "Edit", :action => :edit, :id => @<%= name.downcase %>.object %>
</div>


<div id="content">

    <table>
      <% attributes.each do |attribute| %>
      <tr>
    	<td class="itemLabel"><%= attribute.camelize %></td>
        <td class="itemValue"><%%= @<%= name.downcase %>.<%= attribute %>%></td>
      </tr>
      <% end %>
    </table>
</div>