<div id="pageTitle">
	<h1><%%= @<%= name.downcase %>.<%= attributes[0] %>%></h1>
</div>

<div id="toolbar">
    <div id="row">
      <div id="leftItem" class="backButton"><%%= link_to "Back", :action => :index %></div>
      <div id="rightItem" class="regularButton"><%%= link_to "Edit", :action => :edit, :id => @<%= name.downcase %>.object %></div>
    </div>
</div>

<div id="content">
    <ul>
        <% attributes.each do |attribute| %>
        <li>
            <span class="title"><%= attribute.camelize %></span>
            <span class="gridItem"><%%= @<%= name.downcase %>.<%= attribute %>%></span>
        </li>
        <% end %>
    </ul>
</div>