<div class="toolbar">
	<h1 id="pageTitle">
		<%%=@<%=name.downcase%>.<%=attributes[0]%>%>
	</h1>
</div>

<div class="panel" selected="true">

<a class="button right_button" href="<%%=url_for(:action => :edit, :id => @<%=name.downcase%>.object)%>" target="_self">Edit</a>

<table class="grid">
  <% attributes.each do |attribute| %>
  <tr>
	<td class="gridleft"><%=attribute.camelize%></td>
    <td class="gridright"><%%=@<%=name.downcase%>.<%=attribute%>%></td>
  </tr>
  <% end %>
</table>
</div>