<div id="pageTitle">
	<h1><%%=@<%=name.downcase%>.<%=attributes[0]%>%></h1>
</div>

<div id="toolbar">
    <div id="row">
        <div id="leftItem" class="backButton">
            <a href="<%%= url_for( :action => :index) %>">Back</a>
        </div>
        <div id="rightItem" class="regularButton">
            <a href="<%%=url_for(:action => :edit, :id => @<%=name.downcase%>.object)%>">Edit</a>
        </div>
    </div>
</div>

<div id="content">
    <ul>
        <% attributes.each do |attribute| %>
        <li>
            <span class="label"><%=attribute.camelize%></span>
            <span class="gridItem"><%%=@<%=name.downcase%>.<%=attribute%>%></span>
        </li>
        <% end %>
    </ul>
</div>