<div class="toolbar">
	<h1 id="pageTitle">
		Accounts
	</h1>
</div>

<ul id="SugarAccounts" title="Accounts" selected="true">
  <a class="button right_button" href="/RhoSugarCRM/SugarAccount/new" target="_self">New</a>
	  
<% @SugarAccounts.each do |x| %>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarAccount/#{x.object}/show" %>" target="_self">
		<%= x.name %>
		<div>
		<%= x.billing_address_city %><%= both_items_present?(x.billing_address_city, x.phone_office) ? "<span class='separator'>&nbsp;|&nbsp;</span>" : "" %><%= x.phone_office %>
		</div>
	</a>
</li>

<% end %>
</ul>