<div id="settings" title="Contact" class="panel">
	<fieldset>
		<div class="row">
			<label>First Name: </label>
			<span><%=@contact['first_name']%></span>
		</div>
		<div class="row">
			<label>Last Name: </label>
			<span><%=@contact['last_name']%></span>
		</div>
		<div class="row">
			<label>Company: </label>
			<span><%=@contact['company_name']%></span>
		</div>
		<div class="row">
			<label>Mobile #: </label>
			<span><%= click_to_call @contact['mobile_number']%></span>
		</div>
		<div class="row">
			<label>Home #: </label>
			<span><%= click_to_call @contact['home_number']%></span>
		</div>
		<div class="row">
			<label>Business #: </label>
			<span><%= click_to_call @contact['business_number']%></span>
		</div>
		<div class="row">
			<label>Email: </label>
			<span><%=mailto( @contact['email_address'], truncate(@contact['email_address'], 20) )%></span>
		</div>
	</fieldset>
	<a class="whiteButton" href="/Phonebook/Contacts/<%=@contact['id']%>/edit">Edit</a>
</div>

