<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Calls
</div>
<% end %>

<ul id="SugarCalls" title="Calls">
	
<a class="button right_button" href="/RhoSugarCRM/SugarCall/new">New</a>
	
<%@SugarCalls.each do |x|%>

	<li class="overview">
		<a href="<%= "/RhoSugarCRM/SugarCall/#{x.object}/show" %>">
			<%= x.name %>
			<div>
			<%= x.status %>&nbsp;<%= x.date_start %>
			</div>
		</a>
	</li>

<%end%>

<!-->
<li><font color="blue"><%=link_to "New Call", :action => :new%></font></li>
-->

</ul>