<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  New Call
</div>
<% end %>

<form title="New Call" 
	  class="panel"
	  id="SugarCall_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	
		<fieldset>
			<input type="hidden" name="id" value="<%=@SugarCall.object%>"/>

			  <div class="row">
				  <label>Subject</label>
				  <input type="text" name="SugarCall[name]" value="<%=@SugarCall.name%>"/>
			  </div>

			  <div class="row">
				  <label>Start Date</label>
				  <input type="text" name="SugarCall[date_start]" value="<%=@SugarCall.date_start%>"/>
			  </div>

			  <div class="row">
				  <label>Assigned To</label>
				  <input type="text" name="SugarCall[assigned_user_name]" value="<%=@SugarCall.assigned_user_name%>"/>
			  </div>

			  <div class="tallrow" style="height:auto">
				  <label>Duration (hh:mm)</label>
				  <input type="text" name="SugarCall[duration_hours]" value="<%=@SugarCall.duration_hours%>" width="50px"/>
				  <input type="text" name="SugarCall[duration_minutes]" value="<%=@SugarCall.duration_minutes%>" width="50px"/>				
				</div>

				<div class="row">
				  <label>Reminder</label>
						<select id="reminder_time" name="SugarCall[reminder_time]">
							<% reminder_time_index = 0 %>
							<% reminder_time_arr = [-1, 60, 300, 600, 900, 1800, 3600]%>
							<% %w(None 1\ Minute\ Prior 5\ Minutes\ Prior 10\ Minutes\ Prior 15\ Minutes\ Prior 30\ Minutes\ Prior 1\ Hour\ Prior).each do |state| %>
								<% selected = (reminder_time_arr[reminder_time_index].to_s == @SugarCall.reminder_time) ? "selected=\"#{@SugarCall.reminder_time}\"" : "" %>
								<option <%= selected %> value="<%= reminder_time_arr[reminder_time_index].to_s %>"><%= state %></option>
								<% reminder_time_index += 1%>
							<% end %>
						</select>
				</div>						

			  <div class="tallrow" style="height:auto">
				  <label>Description</label>			
				  <textarea name="SugarCall[description]" rows="5" style="margin:6px;width:90%"><%= @SugarCall.description %></textarea>
			  </div>

			  <div class="tallrow" style="height:auto;padding: 0 0 10px 0">
				  <label>Call Status</label>
					<select id="direction" name="SugarCall[direction]">
						<% %w(Inbound Outbound).each do |state| %>
							<% selected = (state == @SugarCall.direction) ? "selected=\"#{@SugarCall.direction}\"" : "" %>
							<option <%= selected %>><%= state %></option>
						<% end %>
					</select>

					<select id="status" name="SugarCall[status]">
						<% %w(Planned Held Not\ Held).each do |state| %>
							<% selected = (state == @SugarCall.status) ? "selected=\"#{@SugarCall.status}\"" : "" %>
							<option <%= selected %>><%= state %></option>
						<% end %>
					</select>
			  </div>							
		</fieldset>
			
	<input type="submit" value="Create"/>
</form>