<ul id="SugarOpportunities" title="Opportunities">
<%@SugarOpportunities.each do |x|%>

<a class="button right_button" href="/RhoSugarCRM/SugarOpportunity/new">New</a>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarAccount/#{x.object}/show" %>">
		<%= x.name %>
		<div>
		<%= x.sales_stage %>&nbsp;<%= x.probability %>%
		</div>
	</a>
</li>

<%end%>

<!--
<li><font color="blue"><%=link_to "New Opportunity", "new"%></font></li>
-->

</ul>