<div class="toolbar">
	<h1 id="pageTitle">
		Opportunities
	</h1>
</div>

<ul id="SugarOpportunities" title="Opportunities" selected="true">
<a class="button right_button" href="/RhoSugarCRM/SugarOpportunity/new" target="_self">New</a>

<%@SugarOpportunities.each do |x|%>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarOpportunity/#{x.object}/show" %>" target="_self">
		<%= x.name %>
		<div>
		<%= x.sales_stage %>&nbsp;<%= x.probability %><%= !blank?(x.probability) ? '%' : "" %>
		</div>
	</a>
</li>

<%end%>

</ul>