<div class="pageTitle">
  <h1>Settings</h1>
</div>


<div class="toolbar">
</div>

<div class="content">
  <ul>
    <% if @msg %>
        <li style="color: red; text-align: center"><%= @msg %></li>
    <% end %>
   <li>
      <div class="itemLabel">
        <span class="title">Client ID:</span>
      </div>
      <div class="itemValue">
        <span class="clientID"><%= Rhom::Rhom::client_id %></span>
      </div>
    </li>
    <li><a href="<%= url_for :action => :reset %>">Reset Database</a></li>
    <li><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></li>
    <% if SyncEngine::logged_in > 0 %>
        <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
    <% else %>
        <li><a href="<%= url_for :action => :login %>">Login</a></li>
    <% end %>
  </ul>
</div>