<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Editing Case</title>
</head>
<body>
<form action="<%=url_for(:update) %>">

<input type="hidden" name="id" value="<%=@case.id%>"/>

Case Number <input name="name" value="<%=@case.case_number%>"/><br/>
Assigned To <input name="industry" value="<%=@case.assigned_to%>"/><br/>

Account Name
<select name="account" value="<%=@case.account%>">
<%@accounts.each do |a|%>
  <option><%=a.name%></option>
<%end%>
</select><br/>

Priority
<select name="priority" value="<%=@case.priority%>">
  <option>High</option>
  <option>Medium</option>
  <option>Low</option>
</select><br/>

Status
<select name="status" value="<%=@case.status%>">
  <option>New</option>
  <option>Assigned</option>
  <option>Closed</option>
</select><br/>

Type
<select name="type" value="<%=@case.type%>">
  <option>Administration</option>
  <option>Product</option>
  <option>User</option>
</select><br/>

Description
<textarea name="description" value="<%=@case.description%>"/><br/>

Resolution
<textarea name="resolution" value="<%=@case.resolution%>"/><br/>

<input type="submit" value="Update Case"/>
</form>
</body>
</html>
