<form title="Edit Case"
	  class="panel"
	  id="case_edit_form"
	  method="POST"
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="object" value="<%=@case.object%>"/>
		<div class="row">
			<label>Number: </label>
			<input name="case[case_number]" value="<%=@case.case_number%>"/>
		</div>
		<div class="row">
			<label>Subject: </label>
			<input type="text" name="case[name]" value="<%=@case.name.nil? ? "" : @case.name%>"/>
		</div>
		<div class="row">
			<label>Assigned To: </label>
			<select name="case[assigned_user_id]">
				<%@employees.each do |a|%>
					<option value="<%=a.object%>" <%if @employee.object==a.object%>
					selected<%end%>><%=a.user_name%>
					</option>
				<%end%>
			</select>
		</div>
		<div class="row">
			<label>Account Name: </label>
			<select name="case[account_id]">
				<%@accounts.each do |a|%>
					<option value="<%=a.id%>" <%if @account.name==a.name%>
					selected<%end%>><%=a.name%></option>
				<%end%>
			</select>
		</div>
		<div class="row">
			<label>Priority: </label>
			<select name="case[priority]" value="<%=@case.priority%>">
				<option value="High"
          <%if @case.priority=="High"%>
          selected
        <%end%>
         >High</option>
				<option value="Medium"
                                    <%if @case.priority=="Medium"%>
                                    selected
                                    <%end%>
                                >Medium</option>
				<option value="Low"
                                    <%if @case.priority=="Low"%>
                                    selected
                                    <%end%>
                                >Low</option>
			</select>
		</div>
		<div class="row">
			<label>Status: </label>
			<select name="case[status]" value="<%=@case.status%>">
				<option
                                    <%if @case.status=="New"%>
                                    selected
                                    <%end%>
                                >New</option>
				<option
                                    <%if @case.status=="Assigned"%>
                                    selected
                                    <%end%>
                                >Assigned</option>
				<option
                                    <%if @case.status=="Closed"%>
                                    selected
                                    <%end%>
                                >Closed</option>
			</select>
		</div>
		<div class="row">
			<label>Type: </label>
			<select name="case[type]" value="<%=@case.type%>">
				<option
                                    <%if @case.type=="Administration"%>
                                    selected
                                    <%end%>
                                >Administration</option>
				<option
                                    <%if @case.type=="Product"%>
                                    selected
                                    <%end%>
                                >Product</option>
				<option
                                    <%if @case.type=="User"%>
                                    selected
                                    <%end%>
                                >User</option>
			</select>
		</div>
	</fieldset>
	<div class="row">
		<label>Description: </label>
	</div>
	<textarea name="case[description]" rows="3" cols="40">
		<%=@case.description%>
	</textarea>
	<div class="row">
		<label>Resolution: </label>
	</div>
	<textarea name="case[resolution]" rows="3" cols="40">
		<%=@case.resolution%>
	</textarea>
	<input type="submit" value="Update Case"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @case.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>
