<form title="Create Case" 
	  class="panel" 
	  id="case_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<div class="row">
			<label>Assigned To: </label>
			<select name="case[assigned_user_id]">
				<%@employees.each do |a|%>
					<option value="<%=a.object%>"><%=a.user_name%></option>
				<%end%>
			</select>
		</div>
		<div class="row">
			<label>Account Name: </label>
			<select name="case[account_id]">
				<%@accounts.each do |a|%>
					<option value="<%=a.object%>"><%=a.name%></option>
				<%end%>
			</select>
		</div>
		<div class="row">
			<label>Priority: </label>
			<select name="case[priority]" value="<%=@case.priority%>">
				<option>High</option>
				<option>Medium</option>
				<option>Low</option>
			</select>
		</div>
		<div class="row">
			<label>Status: </label>
			<select name="case[status]" value="<%=@case.status%>">
				<option>New</option>
				<option>Assigned</option>
				<option>Closed</option>
			</select>
		</div>
		<div class="row">
			<label>Type: </label>
			<select name="case[type]" value="<%=@case.type%>">
				<option>Administration</option>
				<option>Product</option>
				<option>User</option>
			</select>
		</div>	
		<div class="row">
			<label>Subject: </label>
			<input type="text" name="case[name]"/>
		</div>
	</fieldset>
	<div class="row">
		<label>Description: </label>
	</div>
	<textarea name="case[description]" rows="3" cols="40">
	</textarea>
	<div class="row">
		<label>Resolution: </label>
	</div>
	<textarea name="case[resolution]" rows="3" cols="40">
	</textarea>
	<input type="submit" value="Create"/>
</form>
