<ul id="<%= name.pluralize %>" title="<%= class_name.pluralize %>">
<%%@<%=name.pluralize%>.each do |x|%>
<%if self.attributes?%>
<li><%%=link_to "#{x.<%=attributes[0]%>}", "edit", x.object%></li>
<%else%>
<li>Some list entry...</li>
<%end%>
<%%end%>
<li><font color="blue"><%%=link_to "New <%= class_name %>", "new"%></font></li>
</ul>