<div class="toolbar">
	<h1 id="pageTitle">
		Settings
	</h1>
</div>

<ul id="settings" selected="true" title="Settings">
	<% if @msg %><li style="color:#ff0000" align="center"><%=@msg%></li><% end %>
	<li>Client ID: <br/><span style="font-size: 60%"><%=Rhom::Rhom::client_id%></span></li>
	<li><%=link_to "Reset Database", :action => :reset%></li>
	<li><%=link_to "Perform Sync", :action => :do_sync%></li>
	<% if SyncEngine::logged_in > 0 %>		
	<li><%=link_to "Logout", :action => :logout%></li>
	<% else %>
	<li><%=link_to "Login", :action => :login%></li>
	<% end %>
</ul>