<div id="pageTitle">
	<h1>Settings</h1>
</div>

<div id="toolbar"></div>

<div id="content">
    <ul id="settings">
        <% if @msg %>
        <li class="alertMessage">
            <span class="message"><%= @msg %></span>
        </li>
        <% end %>
        <li>
            <div class="itemLabel">
                <span class="title">Client ID:</span>
            </div>
            <div class="itemValue">
                <span class="clientID"><%= Rhom::Rhom::client_id %></span>
            </div>
        </li>
        <li>
          <a href="<%= url_for :action => :reset %>">
              <span class="title">Reset Database</span>
          </a>
        </li>
        <li>
          <a href="<%= url_for :action => :do_sync %>">
              <span class="title">Perform Sync</span>
          </a>
        </li>
        <% if SyncEngine::logged_in > 0 %>
        <li>
            <a href="<%= url_for :action => :logout %>">
              <span class="title">Logout</span>
            </a>
        </li>
        <% else %>
        <li>
          <a href="<%= url_for :action => :login %>">
               <span class="title">Login</span>
          </a>
        </li>
        <% end %>
    </ul>
</div>