<div id="pageTitle">
    <h1>Settings</h1>
</div>

<div id="content">
    <% if @msg %>
      <div class="alert" align="center"><%= @msg %></div>
    <% end %>

    <ul>
        <li>
            <p>Client ID: <span class="cid"><%= Rhom::Rhom::client_id %></span></p>
        </li>
        <li>
            <%= link_to "Reset Database", :action => :reset %>
        </li>
        <li>
            <%= link_to "Sync", :action => :do_sync %>
        </li>

    	<% if SyncEngine::logged_in > 0 %>		
    	    <li>
    	        <%= link_to "Logout", :action => :logout %>
    	    </li>
    	<% else %>
    	    <li>
    	        <%= link_to "Login", :action => :login %>
    	    </li>
    	<% end %>
    </ul>
    
</div>